@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Noto Sans';
}

a{
	text-decoration: none;
}

div#header {
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	background-color: #383030;
	margin: 0;
	z-index: 1;
}

div#header a {
	padding-top: 10px;
	margin-right: 10px;
	text-decoration: none;
	float: right;
	font-weight: 100;
	color: #e7e7e7;
}

div#header a:hover {
	font-weight: bold;

}

.logo {
	float: left;
	margin-left: 10px;
}

.logo a {
	font-size: 1.3em;
	color: #fff;
	font-weight: 100;
}


div#container {
	width:100%;
	padding-top: 50px;
	margin: 0 auto;
	z-index: -1;
	/*background: url('mona_lisa_academy.jpg') no-repeat;
	background-size:cover;*/
	background-color: #fff;
}

.sidebar {
	width: 250px;
	height: 100%;
	background-color: #212121;
	float: left;
}

ul#nav {
	list-style-type: none;
}

ul#nav li{
	display: inline;
	list-style:none;
}

ul#nav li a {
	color: #ccc;
	display: inline;
	background-color: #E03434;
	padding: 10px;
	width: 20%;
	font-size: 0.8em;
	text-decoration: none;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

ul#nav li a:hover {
	color: #fff;
	font-weight: bold;
}

ul#nav li a.selected{
	background-color: #000;
	color: #fff;
}

.content {
	width: auto;
	margin-left: 0px;
	height: 100%;
	padding: 15px;

}

.content p{
	color:#424242;
	font-size: 0.73em;
}

div#box {
	margin-top: 15px;
}

div#box .box-top {
	color:#fff;
	background-color: #37809b;
	font-weight: 300;
	padding: 15px;
}

div#box .box-panel {
	padding: 15px;
	background-color:#fff;
	color: #000000;	


}

div#box .box-panel p {
	text-align: justify;
    text-justify: inter-word;
    font-size:0.9em;
    list-style-type: none;
    text-decoration: none;

}

div#box .box-panel li {
	list-style-type: none;
	font-size:1em;
	padding-left: 10px;
	padding-top:10px;
	display:block;
	text-decoration: none;

}

input[type=submit]:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	text-decoration: none;
}


input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=number] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=select] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.button {
    background-color: #e7e7e7;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;

 }

.button:hover {
	text-decoration:none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.month {
    padding: 10px 25px;
    width: 100%;
    background: #E03434;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style-type: none;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #E03434;
    color: white;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}


div#boxnotifs {
	padding: 10px;
	padding-right: 20px;
	color: #fff;
	background-color: #E03434;
	margin-top: 15px;
	margin-right:20px;
	width: 23%;
	float:left;
	text-align:center;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

div#boxnotifs p{
	color: #fff;
	font-size: 18px;
}

div#boxnotifs:hover {
	padding-left: 25px;

}

div#boxnotifs2 {
	padding: 10px;
	padding-right: 20px;
	color: #E03434;
	background-color: #fff;
	margin-top: 15px;
	margin-right:20px;
	width: 23%;
	float:left;
	text-align:center;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

div#boxnotifs2 p{
	color: #E03434;
	font-size: 18px;
}

div#boxnotifs2:hover {
	padding-left: 25px;

}

.nav-content {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
}

.nav-bar {
	padding:2px;
	margin: 0px;
	color: #000;
	float: center;
	text-align: center;
	background-color: #999999;
}

.dropbtn {
    background-color: #5a5959;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 68px;
    padding-right: 68px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	/*background-color: #cccccc;*/
	background-color: #b4afaf;
	color:#fff;
	text-decoration: none;
}

a.selected {
	background-color: #cccccc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropbtn:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

label{
    display:inline-block;
    width:150px;
}

select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 10px 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

div#boxmonth {
	color: #fff;
	background-color: #e67b3a;
	float:left;
	text-align:center;
	padding: 10px;
}

div#boxmonth p{
	color: #E03434;
	font-size: 18px;
}

div#boxday{
	color: #000;
	background-color: #e1e1e1;
	float:left;
	text-align:center;
}

div#boxday p{
	color: #000;
	font-size: 18px;
}

div#boxmonth2 {
	color: #fff;
	background-color: #e67b3a;
	float:left;
	text-align:center;
	padding: 10px;
}

div#boxmonth2 p{
	color: #E03434;
	font-size: 18px;
}

div#boxday2{
	color: #000;
	background-color: #cccccc;
	float:left;
	text-align:center;
}

div#boxday2 p{
	color: #000;
	font-size: 18px;
}

div#boxmonth3 {
	color: #fff;
	background-color: #e67b3a;
	float:left;
	text-align:center;
	padding: 10px;
}

div#boxmonth3 p{
	color: #E03434;
	font-size: 18px;
}

div#boxday3{
	color: #000;
	background-color: #e1e1e1;
	float:left;
	text-align:center;
}

div#boxday3 p{
	color: #000;
	font-size: 18px;
}

div#boxdatedesc {
	color: #000;
	background-color: #fff;
	float:left;
	text-align:left;
}

div#boxdatedesc p {
	color:#000;
	font-size: 18px;
}

div#boxdatedesc2 {
	color: #000;
	background-color: #fff;
	float:left;
	text-align:left;
}

div#boxdatedesc2 p {
	color:#000;
	font-size: 18px;
}

div#boxdatedesc3 {
	color: #000;
	background-color: #fff;
	float:left;
	text-align:left;
}

div#boxdatedesc3 p {
	color:#000;
	font-size: 18px;
}

.boxexamdates {
	float: right;
	width: 50%;
}
